body {
    margin: 0;
    padding: 0;
    background-color: #9EC5E8;
    font-family: sans-serif;
}

#app {
    display: grid;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    font-size: 1.5em;
}

.weather td {
    padding: 4px 16px;
}
.weather tr td:first-child {
    font-weight: bold;
}
.weather tr td:last-child {
    text-align: right;
    min-width: 120px;
}

.dark {
    position: absolute;
    left: 0;
    top: 0;
    background: black;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    transition: opacity .2s;
}
