<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SLMN Weather</title>
    <link rel="stylesheet" href="app.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <div class="center">
        <div class="error" v-if="weather && weather.error">
            {{ weather.error }}
        </div>
        <div class="weather" v-else>
            <table>
                <tr v-for="([key, val]) in weatherArray">
                    <td>{{ key }}</td>
                    <td>{{ val }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            weather: null
        },
        computed: {
            weatherArray() {
                if (!this.weather) return null;
                let data = Object.entries(this.weather);
                data = data.map(([key, val]) => {
                    if (key === "temperature") val += "°C";
                    if (key === "pressure") val += "mbar";
                    if (key === "light") val = ((1-val) * 100).toFixed(1) + "%";

                    return [key, val];
                })
                return data;
            }
        }
    });
    update();
    setInterval(update, 5000);

    async function update() {
        let data = await fetch("https://data.weather.slmn.io/weather").then(res => res.json());
        app.weather = data;
    }
</script>
</body>
</html>
