<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SLMN Weather</title>
    <link rel="stylesheet" href="app.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <div class="dark" :style="{ opacity: dark }"></div>
    <div class="center">
        <div class="error" v-if="weather && weather.error">
            {{ weather.error }}
        </div>
        <div class="weather" v-else>
            <table>
                <tr v-for="(item) in weatherArray">
                    <td>{{ item.key }}</td>
                    <td>{{ item.format }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            weather: null
        },
        computed: {
            weatherArray() {
                if (!this.weather) return null;
                let data = Object.entries(this.weather);
                data = data.map(([key, val]) => {
                    let format = val;
                    if (key === "temperature") format = val + "°C";
                    if (key === "pressure") format = val + " mbar";
                    if (key === "light") format = ((1-val) * 100).toFixed(1) + "%";

                    return {
                        key, val, format
                    };
                })
                return data;
            },
            dark() {
                if (!this.weatherArray) return 0;
                let item = this.weatherArray.find(i => i.key === "light");
                if (!item) return 0;
                return item.val / 2;
            }
        }
    });
    update();
    setInterval(update, 5000);

    async function update() {
        app.weather = await fetch("https://data.weather.slmn.io/weather").then(res => res.json());
    }
</script>
</body>
</html>
